{#
 # Index
 #
 # @package WordPress
 # @subpackage AurelieLamy
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<!DOCTYPE html>
<html
    itemscope
    itemtype="http://schema.org/WebPage"
    {{ html_class( 'no-js no-touch is-loading is-ontop' ) }}
    {{ site.language_attributes }}
>

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no">

		{{ function( 'wp_head' ) }}

	</head>

	<body
		data-module-load="main"
		class="cursor-wait"
	>

		<div data-load-container data-url="{{ current_url }}" class="duration-1000 ease-in-out transition-opacity">
			<div id="{{ post.id ? "page-#{post.id}" : 'page' }}" {{ body_class( 'page-content' ) }} data-module-scroll="main">

				{% block header %}
					{{- include( 'header.html.twig', { classes: [ 'bg-white z-10 text-red-very-soft sticky top-0 inset-x-0 py-6 lg:pt-14 lg:pb-11' ] } ) -}}
				{% endblock %}


				{% block breadcrumb %}
					<div class="container mb-13">
						<div class="row">
							<div class="text-sm">
								{{ yoast_breadcrumb() }}
							</div>
						</div>
					</div>
				{% endblock %}

				{% block content %}
					<main>

						<div class="container">
							<div class="row">
								<div>
									<h1 class="text-[2.875rem] lg:text-[3.5rem] leading-none text-red-vivid">{{- post.title -}}</h1>
								</div>
							</div>
						</div>

						<div class="container my-15 lg:mt-30">
							<div class="row">
								<div class="wysiwyg">
									{{- post.content -}}
								</div>
							</div>
						</div>

					</main>
				{% endblock %}


				{% block footer %}{{- include( 'footer.html.twig' ) -}}{%- endblock -%}

			</div>
		</div>


		{{ function( 'wp_footer' ) }}

		<div id="svg-sprite" style="display: none;">{{- include( 'icons.svg', ignore_missing = true ) -}}</div>

	</body>

</html>
