{#
 # Blocks: Four Columns
 #
 # @package WordPress
 # @subpackage AurelieLamy
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="py-13 lg:py-20 bg-red-very-pale">
	<div class="container">
		<div class="row">
			<div class="lg:col-5/12">
				<h2 class="text-[2.875rem] lg:text-[3.5rem] leading-none text-red-vivid">{{- block.title -}}</h2>
			</div>
		</div>

		<div class="row mt-12">
			{% for column in block.columns | filter( column => column ) %}
				<div class="{{ html_classes( 'lg:col-3/12', loop.first ? '' : 'mt-13 lg:mt-0' ) }}">
					{{- include( 'components/image.html.twig', { classes: [ 'h-24', 'w-full', 'object-contain', 'object-left' ], image: column.image } ) -}}
					<div class="mt-4 pl-2 relative before:absolute before:top-0 before:right-full before:w-1.5 before:h-1.5 before:rounded-full before:bg-red-vivid before:mt-1">
						<h3 class="text-lg leading-5 font-bold">{{ column.title }}</h3>
						<p class="text-sm mt-1">{{- column.subtitle -}}</p>

						{%- if column.content -%}
							<div class="wysiwyg text-sm mt-2 lg:hidden">{{- column.content -}}</div>
						{%- endif -%}
					</div>
				</div>
			{% endfor %}
		</div>

		{%- if block.columns | filter( column => column.content ) -%}
			<div class="hidden lg:row mt-22">
				{% for column in block.columns | filter( column => column )  %}
					<div class="lg:col-3/12">
						<div class="wysiwyg text-sm">{{- column.content -}}</div>
					</div>
				{% endfor %}
			</div>
		{%- endif -%}
	</div>
</div>
