{#
 # Front Page
 #
 # @package WordPress
 # @subpackage AurelieLamy
 #}

{% extends 'index.html.twig' %}

{%- block header -%}
	{%- embed 'header.html.twig' with { classes: [ 'lg:is-ontop:text-white lg:is-ontop:bg-transparent transition-colors duration-300', 'bg-white text-red-very-soft', 'z-10 sticky lg:fixed top-0 inset-x-0 py-6 lg:pt-14 lg:pb-11' ] } -%}
		{%- block logo -%}
			<div class="col-6/12 lg:col-8/12 lg:is-ontop:opacity-0 lg:opacity-100 transition-opacity duration-300">
				<a href="{{ site.link }}" aria-label="{{ site.title }}" class="h-[3.875rem] lg:h-[2.3125rem] w-[21.75rem] block max-w-full">
					<img class="w-full h-full object-contain object-left hidden lg:block" width="348" height="37" src="{{ theme.manifest[ 'img/svg/logo.svg' ] }}" />
					<img class="w-full h-full object-contain object-left lg:hidden" width="364" height="146" src="{{ theme.manifest[ 'img/svg/logo-large.svg' ] }}" />
				</a>
			</div>
		{%- endblock -%}
	{%- endembed -%}
{%- endblock -%}

{%- block breadcrumb -%}{%- endblock -%}

{% block content %}
	<main>
		{% embed 'blocks/blocks.html.twig' with { blocks: post.meta( 'blocks' ), classes: [ 'first-child:mt-0 last-child:mb-0' ] } %}
			{%- block prepend -%}
				<div class="overflow-hidden pb-15 my-30">
					<div class="container">
						<div class="row">

							{%- if post.meta( 'hero' ).image -%}
								<div class="col-9/12 ml-3/12 lg:col-5/12 lg:-ml-1/12 relative z-1 lg:mb-[3.375rem] lg:order-3">
									<div class="relative after:bg-red-very-pale after:absolute after:inset-0 after:translate-x-[-1.25rem] lg:after:translate-x-[-3.375rem] after:translate-y-5 lg:after:translate-y-[3.375rem] h-[20.25rem] w-[78.2608696vw] lg:w-[42.75255622vw] lg:h-full after:z-1">
										{{- include( 'components/image.html.twig', { classes: [ 'z-2', 'object-cover', 'object-center', 'absolute', 'inset-y-0', 'left-0', 'h-full', 'w-full', 'max-w-none' ], image: post.meta( 'hero' ).image } ) -}}
									</div>
								</div>
							{%- endif -%}

							<div class="lg:col-6/12 mt-14 lg:mt-20 lg:order-1">
								<a href="{{ site.link }}" aria-label="{{ site.title }}" class="hidden lg:block h-[9.125rem] w-[22.75rem]">
									<img class="w-full h-full object-contain" width="364" height="146" src="{{ theme.manifest[ 'img/svg/logo-large.svg' ] }}" />
								</a>

								{%- if  post.meta( 'hero' ).heading -%}
									<h1 class="text-[2.875rem] lg:text-[3.5rem] leading-none text-red-vivid lg:mt-22">{{- post.meta( 'hero' ).heading -}}</h1>
								{%- endif -%}

								{%- if post.meta( 'hero' ).content -%}
									<div class="row mt-5 lg:mt-8">
										<div class="wysiwyg text-sm lg:col-4.5/6">
											{{- post.meta( 'hero' ).content -}}
										</div>
									</div>
								{%- endif -%}

								{{- include( 'components/link.html.twig', post.meta( 'hero' ).link | default( {} ) | merge( { classes: [ 'mt-4 lg:mt-7' ] } ) ) -}}

								<div class="text-sm hidden text-gray-light mt-14 lg:flex items-center gap-x-2">{{- __( 'Scroll', 'aurelielamy' ) -}}{{- icon( 'chevron-down', { classes: [ 'w-4 h-2' ] } ) -}}</div>
							</div>

							<div class="lg:order-2 hidden lg:block col-5/12 -ml-3/12 mt-50 relative z-2"><hr class="w-full h-[0.0625rem] bg-red-vivid block border-none"></div>
						</div>
					</div>
				</div>
			{%- endblock -%}
		{% endembed %}
	</main>

{% endblock %}
